body{
	margin: 0 auto;
	color:#222;
	background: #fff;
}
body.dark-theme{
	color: #eee;
	background: #000;
  }
  body.dark-theme p{
	color: #eee;
  }
  body.dark-theme svg{
	color: #eee;
  }
  body.dark-theme a{
	color: #eee;
  }
  body.dark-theme .dd-item:hover{
	background: none;
  }
/*p.news_white{
	color: #fff;
}*/
.home{
	width: 100%;
	height:100px;
	background: #000;
	padding: 30px;
	position: fixed;
	z-index: 1;
}
.col-md-3{
	color: #fff;
}
.col-md-6{
	color: #fff;
}
form .form{
	max-width: 600px;
	width: 100%;
	height: 40px;
	border-radius: 30px;
	transition: transform 0.35s;
 }
 form .form::placeholder{
    background: url(search.svg) no-repeat;
	background-position: right; 
    padding-left: 10px;
}
form .form:hover{
	transform: scale(1.1);
}
svg{
	color: #fff;
}
.logo{
	text-decoration: none;
	color: #fff;
	font-size:17px;
	transition: transform 0.35s;
}
.logo:hover{
	transform: scale(1.1);
	text-decoration: none;
	color: #fff;
 }
 .dropdown{
	list-style-type: none;
	transition: transform 0.35s;
 }
 .dropdown li .svg :hover{
	transform: scale(1.1);
 }

.dropdown-menu_header{
    position: relative;
	left:38px;
	top:30px;
	width: 270px;
	height: 400px;
	overflow: auto;
	list-style-type: none;
	color:#fff;
	background: #000;
	text-align: left;
	display: none;
}
.dropdown :hover .dropdown-menu_header{
	display:block;
	z-index: 1;
}
.dropdown ul li a{
	text-decoration: none;
	color:#fff;
	font-size:14px;
	padding-bottom: 15px;
}
.dropdown ul li a:hover{
	color:#fff;
	font-size: 15px;
}
.sub-menu_header{
	list-style-type: none;
	display: none;
}
.dropdown-menu_header :hover .sub-menu_header{
	display: block;
	
}
input[type="checkbox"] {
	position: relative;
	width: 20px;
	height: 10px;
	-webkit-appearance: none;
	outline: none;
	background: #636363;
	border-radius: 20px;
	transition: .5s;

 }
input:checked[type="checkbox"]{
	background: #3a5070;
 }
 input[type="checkbox"]::before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	transform: scale(1.1);
	border-radius: 50%;
	background: #d1d1d1;
	left:0;
	transition: .5s;
 }
 input:checked[type="checkbox"]::before{
	background: #5386d4;
	left: 10px;
 }
 /*main*/
 .main{
	padding-top: 100px;
 }
 .menu-main{
	height: 100vh;

 }
 .slider{
	min-height: 700px;
	height: 100vh;
 }
 /*menu*/
	.dd-item a{
		text-decoration: none;
		color: black; 
	}
	.dd-menu .dd-item{
		display: none;
	}
	.dd-item{
		position: relative;
		right: 10px;
		list-style-type: none;
		width: 100%;
		height: 100%;
		margin-top: 10px;
	    font-size: 12px;
	    cursor: pointer;
	    text-align: center;
	    transition: transform 0.45s;
	}
	.dd-item:hover{
   transform: scale(1.05);
   background:rgb(252, 252, 252);
}
	.btn{
		width: 100%;
		height: 40px ;
		margin: 5px;
		border: none;
		border-bottom: 1px solid lightgray;
		background: white;
		font-weight: bold;
		font-size: 12px;
		display: block;
		transition: transform 0.25s;
	}
	.btn:hover{
		color: #000;
        transform: scale(1.03);
        background: rgb(255, 255, 255);}
	/*новости*/
	.news{
		border: 1px solid lightgray;
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.news1{
		color: #000;
		text-align: left;
		font-size: 12px;
		padding: 10px;
		border-bottom: 1px solid lightgray;
	}
	.bi-google,
	.bi-globe,
	.bi-balloon-heart{
		position: relative;
		bottom: 7px;
		color: #000;
	}
	
	  /*текст контент*/
	  .content{
		height: 700px;
		overflow: auto;
	  }
	  
	 .content .text-info{
		display: block;
		font-size: 15px;
		margin-top: 20px;
		text-align: left;
		color: #000;/*не применяется стиль, наследование соблюдено*/
	  }
	 /*Профиль
	 .profile{
		position: relative;
		top:20px;
	 }
	 .prof-inform{
		position: relative;
		top: 20px;
	 }

	 .profile1{
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	 }
	 .photo{
		border-radius: 50px;
		margin: 20px;
	 }
	 .prof-name1{
		text-align: right;
		padding: 10px;
		flex: 3
	 }
	 .prof-inform1{
		padding-top: 20px;
		text-align: left;
	 }*/
	  /*Слайдер*/
	   .img{
		height: 700px;
		max-width: 298px;
		width: 100%;
	  }
	/**/
	.karta{
		position: relative;
		top:20px;
		max-width: 150px;
		width: 100%;
		height: 150px;
		cursor: pointer;
		margin: 0 auto;

	}
	.item-first{
		margin-top:15px;
		display: inline-block;
		border: 1px solid lightgray;
		border-radius: 10px;
		text-align: center;
		max-width: 150px;
		width: 100%;
		height: 230px;
		transition: transform 0.25s;
		background: #fbf7f7;
	}
	.item-first:hover{
		transform: scale(1.05);
	}
	
	.item-first .taro{
		text-decoration: none;
		color: black;
		position: relative;
		top: 20px;
		font-size: 12px;
		opacity: 0.5;
	}
	.item-first .span1{
		position: relative;
		top: 25px;
		cursor: pointer;
		opacity: 0.5;
		color: #000;
		
	}
	.span1:hover{
		opacity: 1;
	}
	.taro:hover{
		font-size: 16px;
		transform: scale(1.05);
		opacity: 1;

	}

	  /*Футер*/
	  footer{
		height: 100px;
		background:#000;
	  }
	  /*Настройки профиля*/
	  .box-prof{
		min-height: 1200px;
		height: 100vh;
	  }
	  .settings{
	  width: 100%;
	  height:100px;
	  background: #222;
	  }
	  h2{
		color: #d1d1d1;
		text-align: left;
		font-size: 25px;
		padding-top: 10px;
	  }
	  .settings-ul{
		display: flex;
		justify-content: space-around;
		list-style-type: none;
	  }
	  .settings-ul li a{
		text-decoration: none;
		color: #d1d1d1;
	  }
	  .settings-ul li a:hover{
		color: #636363;
	  }
	 .text-span{
		color: #636363;
		font-size: 12px;
		margin-left: 7px;
	 }
	 .profil{
		padding: 20px;
		border: 1px solid #222;
		max-width: 900px;
		width: 100%;
		margin-left: 10px;
		background: #f0eeee;
	 }
	 h3{
		margin: 10px;
	 }
	.btn-img{
		margin-top: 10px;
		border-radius: 15px;
		font-size: 14px;
		transition: transform 0.25s;
		
	}
	.btn-img:hover{
		transform: scale(1.05);
	}

	.photo-prof{
		border-radius: 50px;
	}
	.text-p{
		margin-left: 10px;
	}
	.text-field__input{
		display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background: #f8f8f8;
        background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
	
	.save{
		max-width: 200px;
		border-radius: 15px;
		font-size: 14px;
		margin-left: auto;
		margin-top: 10px;
		transition: transform 0.25s;
	}
	.save:hover{
		transform: scale(1.05);
	}
	.saved{
		height: 100px;
	}
	/*Вход*/
	.reg-b{
		background: #f0f0f0;
	}
	.reg{
		display: flex;
		flex-direction: column;
		border: 1px solid rgb(121, 117, 117);
		max-width: 450px;
		width: 100%;
		height: 550px;
		margin:0 auto;
		position: relative;
		top:20px;
		background: #fff;
	}
	b{
		font-size: 24px;
		margin: 20px 0 0 25px;
	}
	.reg-f{
		color: #000;
		margin: 25px;
	}
	label{
		font-size: 18px;
	}
	.reg-btn{
		width: 100%;
		margin: 30px 0 20px 0;
		height: 45px;
		background: #79a9f0;
	}
	.reg-a{
		text-decoration: none;
		font-size: 14px;
		color: #79a9f0;
		margin-left: 7px;
	}
	.bi.bi-facebook, 
	.bi.bi-android2, 
	.bi.bi-apple, 
	.bi.bi-google1,
	.bi.bi-github{
		color: #000;
		margin: 35px 15px;
		transition: transform 0.25s;
	}
	.bi.bi-facebook:hover, 
	.bi.bi-android2:hover, 
	.bi.bi-apple:hover, 
	.bi.bi-google1:hover,
	.bi.bi-github:hover{
		transform: scale(1.05);

	}
	.reg-1{
		max-width: 450px;
		width: 100%;
		height: 50px;
		background: #fff;
		border: 1px solid rgb(121, 117, 117);
		position: relative;
		top:15px;
		bottom: 30px;
		margin: 0 auto;
		padding: 15px 25px;
	}
	.bi.bi-globe{
		color: #000;
		margin-top: 10px;
	}
	.reg-ul{
		display: flex;
		justify-content: center;
		
	}
	.reg-ul li{
		list-style-type: none;
	}
	.reg_a{
		text-decoration: none;
		font-size: 14px;
		color: #717377;
		margin-left: 7px;
	}
	.reg_a:hover{
		color: #222;
	}
	.text-span1{
		color: #636363;
		font-size: 8px;
		margin-left: 7px;
	}
	.registration{
		display: flex;
		flex-direction: column;
		border: 1px solid rgb(121, 117, 117);
		max-width: 450px;
		width: 100%;
		height: 700px;
		margin:0 auto;
		position: relative;
		top:20px;
		background: #fff;
	}








 @media screen and (max-width: 575px){
	header{
		height:130px
	}
	.dropdown-menu_header{
		top:10px;
		margin-left:150px;
	}
	.main{
		padding-top: 130px;
	 }
  }
  @media screen and (max-width: 575px){

		.submenu1 {
			margin-left: 0 auto;
		}

  }
  @media screen and (max-width: 886px){
	.btn{
		font-size: 12px;
		
	}
	.dd-item{
		font-size: 10px;
		margin-bottom: 12px;
	}
  }
  @media screen and (max-width: 740px){
	.btn{
		font-size: 12px;
		
	}
  }
 
  