body{
	margin: 0 auto;
	color: rgba(255, 255, 255, 0.465);
}

body.dark-theme{
	background: #000;
  }
header{
	width: 100%;
	height:100px;
	background: #000;
	padding: 30px;
	position: fixed;
	z-index: 1;
}
.col-md-3{
	color: #fff;
}
.col-md-6{
	color: #fff;
}
form input{
	max-width: 600px;
	width: 100%;
	height: 40px;
	border-radius: 30px;
	transition: transform 0.35s;
 }
 form input::placeholder{
    background: url(search.svg) no-repeat;
	background-position: right; 
    padding-left: 10px;
}
form input:hover{
	transform: scale(1.1);
}
svg{
	color: #fff;
}
.logo{
	text-decoration: none;
	color: #fff;
	font-size:17px;
	transition: transform 0.35s;
}
.logo:hover{
	transform: scale(1.1);
	text-decoration: none;
	color: #fff;
 }
 .dropdown{
	list-style-type: none;
	transition: transform 0.35s;
 }
 .dropdown li .svg :hover{
	transform: scale(1.1);
 }

.dropdown-menu_header{
    position: relative;
	left:38px;
	top:30px;
	width: 270px;
	height: 400px;
	overflow: auto;
	list-style-type: none;
	color:#fff;
	background: #000;
	text-align: left;
	display: none;
}
.dropdown :hover .dropdown-menu_header{
	display:block;
	z-index: 1;
}
.dropdown ul li a{
	text-decoration: none;
	color:#fff;
	font-size:14px;
	padding-bottom: 15px;
}
.dropdown ul li a:hover{
	color:#fff;
	font-size: 15px;
}
.sub-menu_header{
	list-style-type: none;
	display: none;
}
.dropdown-menu_header :hover .sub-menu_header{
	display: block;
	
}
input[type="checkbox"] {
	position: relative;
	width: 20px;
	height: 10px;
	-webkit-appearance: none;
	outline: none;
	background: #636363;
	border-radius: 20px;
	transition: .5s;

 }
input:checked[type="checkbox"]{
	background: #3a5070;
 }
 input[type="checkbox"]::before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	transform: scale(1.1);
	border-radius: 50%;
	background: #d1d1d1;
	left:0;
	transition: .5s;
 }
 input:checked[type="checkbox"]::before{
	background: #5386d4;
	left: 10px;
 }
 /*main*/
 .main{
	padding-top: 100px;
 }
 .menu-main{
	min-height: 700px;
	height: 100vh;
	background-color: aquamarine;
 }
 .slider{
	min-height: 700px;
	height: 100vh;
 }
 /*menu*/
	ul li{
		list-style-type: none;
	}
	.btn{
		position: relative;
		left:-20px;
		text-align: center;
	background: rgb(202, 212, 220);
	padding: 10px 30px;
	margin: 10px 0px;
	max-width: 150px;
	width: 100%;
	font-size: 12px;
	border-radius: 17px;
	box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, .1);
	transition: transform 0.25s;
	}
	.btn:hover{
		transform: scale(1.03);
		background: rgb(202, 212, 220);
		border: 1px solid rgba(0, 0, 255, .1);
	}

	.submenu1  a{
    font-size: 14px;
    text-decoration: none;
    color: black;

	}
	
	.submenu1 li{
		position: relative;
		left: -35px;
		max-width: 150px;
		width: 100%;
		height: 30px;
		color: #FFF;
		font-weight: bold;
		font-family: 'Roboto Condensed', Тahoma, sans-serif;
		/*background: rgb(225, 242, 249);*/
		cursor: pointer;
		text-align: center;
		/*border-radius: 7px;
		outline: 1px solid;
		outline-color: rgb(225, 242, 249);
		outline-offset: 0px;*/
		text-shadow: none;
		transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1); 
		transition: transform 0.45s;
	}
	.submenu1 li:hover{
		box-shadow: inset 0 0 20px rgb(225, 242, 249);
		outline-color: rgba(255, 255, 255, 0);
		outline-offset: 15px;
		color: #FFF;
		transform: scale(1.05);
	}
	/*Карта дня*/
	
	  /*текст контент*/
	  .content{
		height: 700px;
		overflow: auto;
	  }
	  
	 .content .text-info{
		display: block;
		font-size: 15px;
		margin-top: 20px;
		text-align: left;
		color: #000;/*не применяется стиль, наследование соблюдено*/
	  }
	 
	  /*Слайдер*/
	  .slider .img{
		min-height: 700px;
		max-width: 298px;
		width: 100%;
	  }
	/**/

	.karta{
		max-width: 190px;
		width: 100%;
		min-height: 290px;
		cursor: pointer;

	}
	.item-first{
		margin-top:15px;
		display: inline-block;
		border: 1px solid lightgray;
		text-align: center;
		max-width: 200px;
		min-height: 370px;
		transition: transform 0.25s;
	}
	.item-first:hover{
		transform: scale(1.05);
	}
	
	.item-first .taro{
		text-decoration: none;
		color: black;
		position: relative;
		top: 20px;
		font-size: 12px;
		opacity: 0.5;
	}
	.item-first .span1{
		position: relative;
		top: 15px;
		cursor: pointer;
		opacity: 0.5;
		color: #000;
		
	}
	.span1:hover{
		opacity: 1;
	}
	.taro:hover{
		font-size: 16px;
		transform: scale(1.05);
		opacity: 1;

	}

	  /*Футер*/
	  footer{
		height: 100px;
		background:#000;
	  }
	  
 @media screen and (max-width: 575px){
	header{
		height:130px
	}
	.dropdown-menu_header{
		top:10px;
		margin-left:150px;
	}
	.main{
		padding-top: 130px;
	 }
	 .submenu1{
		max-width: 170px;
		width:100%;
	 }
	 .submenu1 .submenu1 {
		position: absolute;
		top: 20px;
		left: 190px;
		}
	.topmenu > li > button{
		font-size: 13px;
	}
	.submenu1 a {
		font-size:10px;
	}
  }
  @media screen and (max-width: 575px){
	.submenu1 .submenu1 {
		position: absolute;
		top: 20px;
		left: 160px;
		}

  }

  